<article>
  <h3>Datos de la Pareja</h3>
  {% if datosPareja.ninguno %}
    <div class="column text-center">Ninguna pareja</div>
  {% endif %}
  {% if datosPareja is defined and datosPareja.ninguno == false %}
    <div class="row">
      <div class="column left-size text-left blue-background">Nombre</div>
      <div class="column right-size text-justify text-light white-background">{{datosPareja.nombre}} {{datosPareja.primerApellido}} {{datosPareja.segundoApellido | dataEmpty}}</div>
    </div>
    <div class="row">
      <div class="column left-size text-left blue-background">fecha de Nacimiento</div>
      <div class="column right-size text-justify text-light white-background">{{datosPareja.fechaNacimiento|formatdatetime}}</div>
    </div>
    <div class="row">
      <div class="column left-size text-left blue-background">CURP</div>
      <div class="column right-size text-justify text-light white-background">{{datosPareja.curp}}</div>
    </div>
    <div class="row">
      <div class="column left-size text-left blue-background">RFC</div>
      <div class="column right-size text-justify text-light white-background">{{datosPareja.rfc}}</div>
    </div>
    <div class="row">
      <div class="column left-size text-left blue-background">Relación con el declarante</div>
      <div class="column right-size text-justify text-light white-background">{{datosPareja.relacionConDeclarante | replace('_', ' ')}}</div>
    </div>
    <div class="row">
      <div class="column left-size text-left blue-background">¿Es Ciudadano Extranjero?</div>
      <div class="column right-size text-justify text-light white-background">{{datosPareja.ciudadanoExtranjero|toSiNo}}</div>
    </div>
    <div class="row">
      <div class="column left-size text-left blue-background">¿Es Dependiente Economico?</div>
      <div class="column right-size text-justify text-light white-background">{{datosPareja.esDependienteEconomico|toSiNo}}</div>
    </div>
    <div class="row">
      <div class="column left-size text-left blue-background">¿Habita en el domicilio del declarante?</div>
      <div class="column right-size text-justify text-light white-background">{{datosPareja.habitaDomicilioDeclarante|toSiNo}}</div>
    </div>
    <div class="row">
      <div class="column left-size text-left blue-background">Lugar donde reside</div>
      <div class="column right-size text-justify text-light white-background">{{datosPareja.lugarDondeReside | replace('_', ' ')}}</div>
    </div>

    {% if datosPareja.lugarDondeReside == 'MEXICO' %}

      <div class="row">
        <h4 class="text-left">Domicilio México</h4>
      </div>

      <div class="row">
          <div class="column left-size text-left blue-background">CALLE</div>
          <div class="column right-size text-justify text-light white-background">
              {{ datosPareja.domicilioMexico.calle }} </div>
      </div>
      <div class="row">
          <div class="column left-size text-left blue-background">NÚMERO EXTERIOR</div>
          <div class="column right-size text-justify text-light white-background">
              {{ datosPareja.domicilioMexico.numeroExterior }}</div>
      </div>
      <div class="row">
          <div class="column left-size text-left blue-background">NÚMERO INTERIOR</div>
          <div class="column right-size text-justify text-light white-background">
              {{ datosPareja.domicilioMexico.numeroInterior | dataEmpty }}</div>
      </div>
      <div class="row">
          <div class="column left-size text-left blue-background">CÓDIGO POSTAL</div>
          <div class="column right-size text-justify text-light white-background">
              {{ datosPareja.domicilioMexico.codigoPostal }}</div>
      </div>
      <div class="row">
          <div class="column left-size text-left blue-background">COLONIA</div>
          <div class="column right-size text-justify text-light white-background">
              {{ datosPareja.domicilioMexico.coloniaLocalidad }}</div>
      </div>
      {% if datosPareja.domicilioMexico.municipioAlcaldia %}
        <div class="row">
            <div class="column left-size text-left blue-background">ALCALDIA</div>
            <div class="column right-size text-justify text-light white-background">
                {{ datosPareja.domicilioMexico.municipioAlcaldia.valor }}</div>
        </div>
      {% endif %}
      {% if datosPareja.domicilioMexico.entidadFederativa %}
        <div class="row">
            <div class="column left-size text-left blue-background">ENTIDAD FEDERATIVA</div>
            <div class="column right-size text-justify text-light white-background">
                {{ datosPareja.domicilioMexico.entidadFederativa.valor }}</div>
        </div>
      {% endif %}
    {% endif %}
    {% if datosPareja.domicilioExtranjero %}

    <div class="row">
      <h4 class="text-left">Domicilio Extranjero</h4>
    </div>

      <div class="row">
          <div class="column left-size text-left blue-background">CALLE</div>
          <div class="column right-size text-justify text-light white-background">
              {{ datosPareja.domicilioExtranjero.calle }} </div>
      </div>
      <div class="row">
          <div class="column left-size text-left blue-background">NÚMERO EXTERIOR</div>
          <div class="column right-size text-justify text-light white-background">
              {{ datosPareja.domicilioExtranjero.numeroExterior }}</div>
      </div>
      <div class="row">
          <div class="column left-size text-left blue-background">NÚMERO INTERIOR</div>
          <div class="column right-size text-justify text-light white-background">
              {{ datosPareja.domicilioExtranjero.numeroInterior | dataEmpty }}</div>
      </div>
      <div class="row">
          <div class="column left-size text-left blue-background">CÓDIGO POSTAL</div>
          <div class="column right-size text-justify text-light white-background">
              {{ datosPareja.domicilioExtranjero.codigoPostal }}</div>
      </div>
      <div class="row">
          <div class="column left-size text-left blue-background">Ciudad</div>
          <div class="column right-size text-justify text-light white-background">
              {{ datosPareja.domicilioExtranjero.ciudadLocalidad }}</div>
      </div>
      <div class="row">
          <div class="column left-size text-left blue-background">estado</div>
          <div class="column right-size text-justify text-light white-background">
              {{ datosPareja.domicilioExtranjero.estadoProvincia }}</div>
      </div>
      <div class="row">
          <div class="column left-size text-left blue-background">país</div>
          <div class="column right-size text-justify text-light white-background">
              {{ datosPareja.domicilioExtranjero.pais|countryFormat }}</div>
      </div>
    {% endif %}

    {% if datosPareja.actividadLaboral %}
      <div class="row">
        <div class="column left-size text-left blue-background">Actividad Laboral</div>
        <div class="column right-size text-justify text-light white-background">{{datosPareja.actividadLaboral.valor}}</div>
      </div>
    {% endif %}

    {% if datosPareja.actividadLaboral.clave == 'PUB' %}
      <div class="row">
        <div class="column left-size text-left blue-background">Nivel u Orden de Gobierno</div>
        <div class="column right-size text-justify text-light white-background">{{datosPareja.actividadLaboralSectorPublico.nivelOrdenGobierno | replace('_', ' ')}}</div>
      </div>
      <div class="row">
        <div class="column left-size text-left blue-background">Ámbito Público</div>
        <div class="column right-size text-justify text-light white-background">{{datosPareja.actividadLaboralSectorPublico.ambitoPublico | replace('_', ' ')}}</div>
      </div>
      <div class="row">
        <div class="column left-size text-left blue-background">Nombre del Ente Público</div>
        <div class="column right-size text-justify text-light white-background">{{datosPareja.actividadLaboralSectorPublico.nombreEntePublico}}</div>
      </div>
      <div class="row">
        <div class="column left-size text-left blue-background">Área Adscripción</div>
        <div class="column right-size text-justify text-light white-background">{{datosPareja.actividadLaboralSectorPublico.areaAdscripcion}}</div>
      </div>
      <div class="row">
        <div class="column left-size text-left blue-background">Empleo, Cargo o Comisión</div>
        <div class="column right-size text-justify text-light white-background">{{datosPareja.actividadLaboralSectorPublico.empleoCargoComision}}</div>
      </div>
      <div class="row">
        <div class="column left-size text-left blue-background">función Principal</div>
        <div class="column right-size text-justify text-light white-background">{{datosPareja.actividadLaboralSectorPublico.funcionPrincipal}}</div>
      </div>
      {% if datosPareja.actividadLaboralSectorPublico.salarioMensualNeto %}
        <div class="row">
          <div class="column left-size text-left blue-background">Salario Mensual Neto</div>
          <div class="column right-size text-justify text-light white-background">{{datosPareja.actividadLaboralSectorPublico.salarioMensualNeto.valor}} {{datosPareja.actividadLaboralSectorPublico.salarioMensualNeto.moneda}}</div>
        </div>
      {% endif %}
      <div class="row">
        <div class="column left-size text-left blue-background">Fecha de Ingreso</div>
        <div class="column right-size text-justify text-light white-background">{{datosPareja.actividadLaboralSectorPublico.fechaIngreso|formatdatetime}}</div>
      </div>
    {% endif %}

    {% if datosPareja.actividadLaboral.clave == 'PRI' or datosPareja.actividadLaboral.clave == 'OTRO' %}
      <div class="row">
        <div class="column left-size text-left blue-background">Nombre de la Empresa, Sociedad o Asociacion</div>
        <div class="column right-size text-justify text-light white-background">{{datosPareja.actividadLaboralSectorPrivadoOtro.nombreEmpresaSociedadAsociacion}}</div>
      </div>
      <div class="row">
        <div class="column left-size text-left blue-background">Empleo, Cargo o Comision</div>
        <div class="column right-size text-justify text-light white-background">{{datosPareja.actividadLaboralSectorPrivadoOtro.empleoCargoComision}}</div>
      </div>
      <div class="row">
        <div class="column left-size text-left blue-background">rfc</div>
        <div class="column right-size text-justify text-light white-background">{{datosPareja.actividadLaboralSectorPrivadoOtro.rfc}}</div>
      </div>
      {% if datosPareja.actividadLaboralSectorPrivadoOtro.sector %}
        <div class="row">
          <div class="column left-size text-left blue-background">sector</div>
          <div class="column right-size text-justify text-light white-background">{{datosPareja.actividadLaboralSectorPrivadoOtro.sector.valor}}</div>
        </div>
      {% endif %}
      <div class="row">
        <div class="column left-size text-left blue-background">Fecha de Ingreso</div>
        <div class="column right-size text-justify text-light white-background">{{datosPareja.actividadLaboralSectorPrivadoOtro.fechaIngreso|formatdatetime}}</div>
      </div>
      {% if datosPareja.actividadLaboralSectorPrivadoOtro.salarioMensualNeto %}
        <div class="row">
          <div class="column left-size text-left blue-background">Salario Mensual Neto</div>
          <div class="column right-size text-justify text-light white-background">{{datosPareja.actividadLaboralSectorPrivadoOtro.salarioMensualNeto.valor}} {{datosPareja.actividadLaboralSectorPrivadoOtro.salarioMensualNeto.moneda}}</div>
        </div>
      {% endif %}
      <div class="row">
        <div class="column left-size text-left blue-background">¿Es proveedor o Contratista de Gobierno?</div>
        <div class="column right-size text-justify text-light white-background">{{datosPareja.actividadLaboralSectorPrivadoOtro.proveedorContratistaGobierno|toSiNo}}</div>
      </div>
    {% endif %}

    {% if datosPareja.aclaracionesObservaciones %}
      <div class="row">
        <div class="column left-size text-left blue-background" style="width: 34%">Aclaraciones/Observaciones</div>
        <div class="column text-justify text-light white-background" style="width: 64%">{{datosPareja.aclaracionesObservaciones}}</div>
      </div>
    {% endif %}
  {% endif %}
</article>