version: "3.8"

services:
  app:
    container_name: Reports
    build:
      context: .
      args:
        - NODE_ENV=${NODE_ENV:-development}
    volumes:
      - .:/code
    ports:
      - 3001:3001
