<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Acuse de declaración</title>
</head>

<body>
  <span id="declarationType">Declaración {{ tipoDeclaracion | replace('MODIFICACION','MODIFICACIÓN') | replace('CONCLUSION','CONCLUSIÓN') }}</span>

{% if datosGenerales%}
  <!-- Situación patrimonial -->

  {% include "templates/acuse.html" %}

  <!-- Situación patrimonial -->

  {% include "templates/declaracion.html" %}

{% endif %}

  <!-- Situación patrimonial -->
  <div class="situacion_patrimonial">
    {% include "templates/publico/situacion_patrimonial.html" %}
  </div>

  <!-- Intereses -->
  {% if declaracionCompleta %}
    <div class="intereses">
      {% include "templates/publico/intereses.html" %}
    </div>
  {% endif %}
  
</body>

</html>