<article>
    <h2 class="text-center">{{ declaracion.ente_publico }}</h2>
    <p class="text-center">{{ declaracion.subtitulo }} </p>
    <p class="text-center"> {{ declaracion.tipo_declaracion }} {{ declaracion.ejercicio }}.
    </p>
    <ul class="no-decoration mt-80px">
        <li><span class="bold">ID DE DECLARACIÓN: </span>{{ _id }}</li>
        <li><span class="bold">FECHA DE RECEPCIÓN:</span> {{ updatedAt | formatdatetime }}</li>
    </ul>
    <h3>PRESENTE.</h3>
        <section>
            <p>{{ declaracion.texto_declaratoria }}</p>
        </section>
</article>