{% if participacion %}
    {% include "templates/intereses/participacion.html" %}
  {% else %}
    <article>
      <h3>Participación en empresas, sociedades o asociaciones</h3>
      <div class="text-center">Información no disponible</div>
    </article>
  {% endif %}

  {% if participacionTomaDecisiones %}
    {% include "templates/intereses/participacionTomaDecisiones.html" %}
  {% else %}
    <article>
      <h3>¿Participa en la toma de decisiones de alguna de estas instituciones?</h3>
      <div class="text-center">Información no disponible</div>
    </article>
  {% endif %}


  {% if apoyos %}
    {% include "templates/intereses/apoyos.html" %}
  {% else %}
    <article>
      <h3>Apoyos o beneficios públicos</h3>
      <div class="text-center">Información no disponible</div>
    </article>
  {% endif %}


  {% if representaciones %}
    {% include "templates/intereses/representacion.html" %}
  {% else %}
    <article>
      <h3>Representación</h3>
      <div class="text-center">Información no disponible</div>
    </article>
  {% endif %}


  {% if clientesPrincipales %}
    {% include "templates/intereses/clientes_principales.html" %}
  {% else %}
    <article>
      <h3>Clientes principales</h3>
      <div class="text-center">Información no disponible</div>
    </article>
  {% endif %}


  {% if beneficiosPrivados %}
    {% include "templates/intereses/beneficios_privados.html" %}
  {% else %}
    <article>
      <h3>Beneficios privados</h3>
      <div class="text-center">Información no disponible</div>
    </article>
  {% endif %}

  {% if fideicomisos %}
    {% include "templates/intereses/fideicomisos.html" %}
  {% else %}
    <article>
      <h3>Fideicomisos</h3>
      <div class="text-center">Información no disponible</div>
    </article>
  {% endif %}