{% if datosGenerales %}
{% include "templates/situacion_patrimonial/datos_generales.html" %}
{% else %}
<article>
    <h3>1. Datos Generales</h3>
    <div class="text-center">Información no disponible</div>
</article>
{% endif %}

{% if domicilioDeclarante %}
{% include "templates/situacion_patrimonial/domicilio_declarante.html" %}
{% else %}
<article>
    <h3>2. Domicilio del declarante</h3>
    <div class="text-center">Información no disponible</div>
</article>
{% endif %}

{% if datosCurricularesDeclarante %}
{% include "templates/situacion_patrimonial/datos_curriculares.html" %}
{% else %}
<article>
    <h3>3. Datos curriculares del declarante</h3>
    <div class="text-center">Información no disponible</div>
</article>
{% endif %}

{% if datosEmpleoCargoComision %}
{% include "templates/situacion_patrimonial/datos_empleo.html" %}
{% else %}
<article>
    <h3>4. Datos empleo, cargo o comisión que inicia</h3>
    <div class="text-center">Información no disponible</div>
</article>
{% endif %}

{% if experienciaLaboral %}
{% include "templates/situacion_patrimonial/experiencia_laboral.html" %}
{% else %}
<article>
    <h3>5. Experiencia laboral (últimos cinco empleos)</h3>
    <div class="text-center">Información no disponible</div>
</article>
{% endif %}

{% if datosPareja %}
{% include "templates/situacion_patrimonial/datos_pareja.html" %}
{% else %}
<article>
    <h3>6. Datos de la Pareja</h3>
    <div class="text-center">Información no disponible</div>
</article>
{% endif %}

{% if datosDependientesEconomicos %}
{% include "templates/situacion_patrimonial/datos_dependiente.html" %}
{% else %}
<article>
    <h3>7. Datos del dependiente económico</h3>
    <div class="text-center">Información no disponible</div>
</article>
{% endif %}

{% if ingresos %}
{% include "templates/situacion_patrimonial/ingresos_neto.html" %}
{% else %}
<article>
    <h3>8. Ingresos netos del declarante, pareja y/o dependiente económicos (situación actual)</h3>
    <div class="text-center">Información no disponible</div>
</article>
{% endif %}

{% if actividadAnualAnterior %}
{% include "templates/situacion_patrimonial/servidor_publico.html" %}
{% else %}
<article>
    <h3>9. Actividad Anual Anterior</h3>
    <div class="text-center">Información no disponible</div>
</article>
{% endif %}

{% if bienesInmuebles %}
{% include "templates/situacion_patrimonial/bienes_inmubles.html" %}
{% else %}
<article>
    <h3>10. Bienes inmubles (situación actual)</h3>
    <div class="text-center">Información no disponible</div>
</article>
{% endif %}

{% if vehiculos %}
{% include "templates/situacion_patrimonial/vehiculos.html" %}
{% else %}
<article>
    <h3>11. Vehículos</h3>
    <div class="text-center">Información no disponible</div>
</article>
{% endif %}

{% if bienesMuebles %}
{% include "templates/situacion_patrimonial/bienes_mubles.html" %}
{% else %}
<article>
    <h3>12. Bienes muebles (situación actual)</h3>
    <div class="text-center">Información no disponible</div>
</article>
{% endif %}

{% if inversionesCuentasValores %}
{% include "templates/situacion_patrimonial/inversiones.html" %}
{% else %}
<article>
    <h3>13. Inversiones, cuentas bancarias u otro tipo de valores</h3>
    <div class="text-center">Información no disponible</div>
</article>
{% endif %}

{% if adeudosPasivos %}
{% include "templates/situacion_patrimonial/adeudos.html" %}
{% else %}
<article>
    <h3>14. Adeudos/Pasivos</h3>
    <div class="text-center">Información no disponible</div>
</article>
{% endif %}

{% if prestamoComodato %}
{% include "templates/situacion_patrimonial/prestamo_terceros.html" %}
{% else %}
<article>
    <h3>15. Préstamos o comodato por terceros</h3>
    <div class="text-center">Información no disponible</div>
</article>
{% endif %}