{% if datosGenerales %}
    {% include "templates/situacion_patrimonial/datos_generales.html" %}
{% else %}
    <article>
        <h3>Datos Generales</h3>
        <div class="text-center">Información no disponible</div>
    </article>
{% endif %}

{% if domicilioDeclarante %}
    {% include "templates/situacion_patrimonial/domicilio_declarante.html" %}
{% else %}
    <article>
        <h3>Domicilio del declarante</h3>
        <div class="text-center">Información no disponible</div>
    </article>
{% endif %}

{% if datosCurricularesDeclarante %}
    {% include "templates/situacion_patrimonial/datos_curriculares.html" %}
{% else %}
    <article>
        <h3>Datos curriculares del declarante</h3>
        <div class="text-center">Información no disponible</div>
    </article>
{% endif %}

{% if datosEmpleoCargoComision %}
    {% include "templates/situacion_patrimonial/datos_empleo.html" %}
{% else %}
    <article>
        <h3>Datos empleo, cargo o comisión que inicia</h3>
        <div class="text-center">Información no disponible</div>
    </article>
{% endif %}

{% if experienciaLaboral %}
    {% include "templates/situacion_patrimonial/experiencia_laboral.html" %}
{% else %}
    <article>
        <h3>Experiencia laboral (últimos cinco empleos)</h3>
        <div class="text-center">Información no disponible</div>
    </article>
{% endif %}

{% if declaracionCompleta %}
    {% if datosPareja %}
        {% include "templates/situacion_patrimonial/datos_pareja.html" %}
    {% else %}
        <article>
            <h3>Datos de la Pareja</h3>
            <div class="text-center">Información no disponible</div>
        </article>
    {% endif %}
{% endif %}

{% if declaracionCompleta %}
    {% if datosDependientesEconomicos %}
        {% include "templates/situacion_patrimonial/datos_dependiente.html" %}
    {% else %}
        <article>
            <h3>Datos del dependiente económico</h3>
            <div class="text-center">Información no disponible</div>
        </article>
    {% endif %}
{% endif %}

{% if ingresos %}
    {% include "templates/situacion_patrimonial/ingresos_neto.html" %}
{% else %}
    <article>
        <h3>
            {% if tipoDeclaracion == 'INICIAL' %}
            Ingresos netos del declarante, pareja y/o dependiente económicos (situación actual)
            {% elif tipoDeclaracion == 'MODIFICACION' %}
            Ingresos netos del declarante, pareja y/o dependiente económicos (entre el 1 de enero y 31 de diciembre del año inmediato anterior)
            {% else %}
            Ingresos netos del año en curso a la fecha de conclusión del empleo del declarante, pareja y/o dependiente económicos
            {% endif %}
        </h3>
        <div class="text-center">Información no disponible</div>
    </article>
{% endif %}

{% if not tipoDeclaracion == 'MODIFICACION' %}
    {% if actividadAnualAnterior %}
        {% include "templates/situacion_patrimonial/servidor_publico.html" %}
    {% else %}
        <article>
            <h3>Actividad Anual Anterior</h3>
            <div class="text-center">Información no disponible</div>
        </article>
    {% endif %}
{% endif %}


{% if declaracionCompleta %}
    {% if bienesInmuebles %}
        {% include "templates/situacion_patrimonial/bienes_inmubles.html" %}
    {% else %}
        <article>
            <h3>
                {% if tipoDeclaracion == 'INICIAL' or tipoDeclaracion == 'CONCLUCION' %}
                Bienes inmubles (situación actual)
                {% else %}
                Bienes inmubles (entre el 1 de enero y 31 de diciembre del año inmediato anterior)
                {% endif %}
            </h3>
            <div class="text-center">Información no disponible</div>
        </article>
    {% endif %}
{% endif %}

{% if declaracionCompleta %}
    {% if vehiculos %}
        {% include "templates/situacion_patrimonial/vehiculos.html" %}
    {% else %}
        <article>
            <h3>
                {% if tipoDeclaracion == 'INICIAL' or tipoDeclaracion == 'CONCLUCION' %}
                Vehículos (situación actual)
                {% else %}
                Vehículos (entre el 1 de enero y 31 de diciembre del año inmediato anterior)
                {% endif %}
            </h3>
            <div class="text-center">Información no disponible</div>
        </article>
    {% endif %}
{% endif %}

{% if declaracionCompleta %}
    {% if bienesMuebles %}
        {% include "templates/situacion_patrimonial/bienes_mubles.html" %}
    {% else %}
        <article>
            <h3>
                {% if tipoDeclaracion == 'INICIAL' %}
                    Bienes muebles (situación actual)
                {% elif tipoDeclaracion == 'CONCLUCION' %}
                {% else %}
                    Bienes muebles (entre el 1 de enero y 31 de diciembre del año inmediato anterior)
                {% endif %}
            </h3>
            <div class="text-center">Información no disponible</div>
        </article>
    {% endif %}
{% endif %}

{% if declaracionCompleta %}
    {% if inversionesCuentasValores %}
        {% include "templates/situacion_patrimonial/inversiones.html" %}
    {% else %}
        <article>
            <h3>
                {% if tipoDeclaracion == 'INICIAL' or tipoDeclaracion == 'CONCLUCION' %}
                    Inversiones, cuentas bancarias u otro tipo de valores (situación actual)
                {% else %}
                    Inversiones, cuentas bancarias u otro tipo de valores (entre el 1 de enero y 31 de diciembre del año inmediato anterior)
                {% endif %}
            </h3>
            <div class="text-center">Información no disponible</div>
        </article>
    {% endif %}
{% endif %}

{% if declaracionCompleta %}
    {% if adeudosPasivos %}
        {% include "templates/situacion_patrimonial/adeudos.html" %}
    {% else %}
        <article>
            <h3>
                {% if tipoDeclaracion == 'INICIAL' or tipoDeclaracion == 'CONCLUCION' %}
                    Adeudos/Pasivos (situación actual)
                {% else %}
                    Adeudos/Pasivos (entre el 1 de enero y 31 de diciembre del año inmediato anterior)
                {% endif %}
            </h3>
            <div class="text-center">Información no disponible</div>
        </article>
    {% endif %}
{% endif %}

{% if declaracionCompleta %}
    {% if prestamoComodato %}
        {% include "templates/situacion_patrimonial/prestamo_terceros.html" %}
    {% else %}
        <article>
            <h3>
                {% if tipoDeclaracion == 'INICIAL' or tipoDeclaracion == 'CONCLUCION' %}
                    Préstamos o comodato por terceros (situación actual)
                {% else %}
                    Préstamos o comodato por terceros (entre el 1 de enero y 31 de diciembre del año inmediato anterior)
                {% endif %}
            </h3>
            <div class="text-center">Información no disponible</div>
        </article>
    {% endif %}
{% endif %}