@page {
  @right-middle {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../assets/versionPublicaVertical.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
